body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  min-height: 100vh;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

/* ABOUT */
.proj-con {
  margin-top: 10px;
}

.resume-btn {
  border: solid white 1px;
  background-color: black;
  color: white;
}

.resume-btn:visited {
  background-color: black;
  color: white;
}

.resume-btn:hover {
  color: white;
  background-color: green;
}

/* PROJECTS */
.proj {
  margin-top: 50px;
  margin-bottom: 50px;
}

.proj-img {
  border: solid white 1px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.sot-btn {
  background-color: black;
  color: white;
}

.sot-btn:visited {
  background-color: black;
  color: white;
}

.sot-btn:hover {
  color: white;
  border-color: rgb(255,196,0);
  background-color: rgb(112,112,112);
}

.trax-btn {
  background-color: black;
  color: white;
}

.trax-btn:visited {
  background-color: black;
  color: white;
}

.trax-btn:hover {
  color: white;
  border-color: rgb(103,55,179);
  background-color: rgb(103,55,179);
}

.way-btn {
  background-color: black;
  color: white;
}

.way-btn:visited {
  background-color: black;
  color: white;
}

.way-btn:hover {
  color: white;
  background-color: #03a9f4;
}

.btns {
  border: solid white 1px;
  margin-right: 10px;
}

.ani-btn {
  background-color: black;
  color: white;
}

.ani-btn:visited {
  background-color: black;
  color: white;
}

.ani-btn:hover {
  font-family: 'zorque';
  color: black;
  border-color: rgb(255,83,73);
  background-color: green;
}

/* CONTACT */
#contact {
  margin-bottom: 65px;
}

.social-btns {
  color: white;
  background-color: black;
  margin-right: 25px;
}

.social-btn {
  color: white;
  background-color: black;
}

.linkedin {
  border: solid white 1px;
}

.linkedin:visited {
  background-color: black;
  border: solid white 1px;
}

.linkedin:hover {
  background-color: rgb(0,119,181);
  border: none;
}

.github {
  border: solid white 1px;
}

.github:visited {
  background-color: black;
  border: solid white 1px;
}

.github:hover {
  color: black;
  background-color: white;
}

.google {
  border: solid white 1px;
}

.google:visited {
  background-color: black;
  border: solid white 1px;
}

.google:hover {
  background-color: rgb(220,78,65);
  border: none;
}

.footer {
  position: absolute;
  width: 100%;
  height: 2.5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.parallax-container {
  height: 300px;
}